* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caprasimo', cursive;
    font-family: 'Kablammo', cursive;
    font-family: 'Varela Round', sans-serif;
   
  
  }
  

  