.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.menu {
  display: flex;
}

.menu a {
  text-decoration: none;
  color: #ccc;
  margin: 0 20px; /* Ajusta el valor del margen según tu preferencia */
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
  }

  .menu.active {
    display: flex;
  }

  .menu a {
    margin: 10px 0;
  }

  .menu-icon {
    display: flex;
  }

  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
