.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .loading h1 {
    font-size: 36px; /* Aumenta el tamaño del texto */
    color: #333;
  }
  
  /* Agrega estilos para los puntos que parpadean */
  .dots {
    font-size: 48px; /* Tamaño más grande para los puntos */
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    0%, 20%, 40%, 60%, 80%, 100% {
      color: transparent;
    }
    10%, 30%, 50%, 70%, 90% {
      color: #333; /* Color de los puntos */
    }
  }
  